<h2>Client</h2>
<div class="row">
    <div class="col-md-6">
        <h4>Aggiungi Canale SignalrR</h4>
        <form class="form-inline" (ngSubmit)="addToGroup()">
            <div class="form-group">
                <input type="text" class="form-control" id="sceltaCanale" placeholder="Canale"
                       [(ngModel)]="currentGroup.id"
                       name="sceltaCanale">
            </div>
            <button type="submit" class="btn btn-default" [disabled]="!canSendMessage">Iscriviti</button>
        </form>
    </div>
    <div class="col-md-6">
        <h4>Lista Canali in ascolto</h4>
        <form class="form-inline" *ngFor="let group of groups">
            <div class="form-group">
                <input type="text" class="form-control" id="listaCanali" placeholder="Canale"
                       value="{{group.id}}"
                       name="listaCanali">
            </div>
            <button (click)="removeToGroup(group)" class="btn btn-default" [disabled]="!canSendMessage">Rimuovi</button>
        </form>
    </div>
</div>
<h3>Log</h3>
<ul>
    <li *ngFor="let chatMessage of allMessages" style="list-style: none;">
        {{chatMessage.sent | date:"dd.MM.y" }}: {{chatMessage.message}}
    </li>
</ul>
