<h2>Master</h2>
<ul>
    <li *ngFor="let chatMessage of allMessages" style="list-style: none;">
        {{chatMessage.sent | date:"dd.MM.y" }}: {{chatMessage.message}}
    </li>
</ul>
<form (ngSubmit)="sendMessage()">
    <div class="form-group">
        <label for="messaggi">Messaggi SignalR</label>
        <input type="text" class="form-control" id="messaggi" placeholder="Messaggio"
               [(ngModel)]="currentMessage.message"
               name="message">
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!canSendMessage">Invia</button>
</form>
